.btn-about{
    border: 1px solid #ed6d26;
    background-color: white;
    padding: 10px;
    color: #ed6d26;
}
.btn-about:hover{
    background-color: #ed6d26;
    color: white;
}
.color{
    color: #ed6d26;
}
p{
    color: #424143;
    font-size: 15px;
    font-weight: bold;
}